[viewBag]
==
<div class="lt-navbar navbar-fixed">
  <nav class="lt-no-background">
    <div class="nav-wrapper">
      <div class="lt-container container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">Octaskin</a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">     
          {% partial "pages-all/navcontent" %}
        </ul>
        <ul class="side-nav" id="mobile-menu">
          {% partial "pages-all/navcontent" %}
        </ul>
      </div>
    </div>
  </nav>
</div>